@charset "UTF-8";
/*------------------- ESTILOS GENERALES ------------------- */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@800&display=swap");
/*------------------- RESET ------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}

/*------------------- TEXTO GENERAL ------------------- */
h1, h2, h3, a {
  font-family: "Poppins", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
}

.titulo {
  font-size: 3rem;
  text-align: center;
}

.subtitulo {
  text-align: center;
}

/*------------------- BOTONES ------------------- */
.botones, .container-form form input[type=submit] {
  font-size: 1.3rem;
  margin: 1em;
  background-color: white;
  text-decoration: none;
  padding: 0.5rem;
  color: black;
  transition: color 0.35s ease-in;
  transition: background-color 0.35s ease-in;
}

.botones:hover, .container-form form input[type=submit]:hover {
  background-color: black;
  color: white;
}

.active {
  background-color: #ffc71f;
}

/*------------------- CONTAINERS Y GALERIAS (Páginas nosotros, cervezas y merchandising) ------------------- */
.container {
  background: #c5c5c5;
  margin: 2em 0;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 0.5em;
}
.container p {
  max-width: 50em;
  text-align: center;
}

.container-flx {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}
.container-flx p {
  font-size: 1.1em;
  line-height: 1.7em;
  padding: 1em;
}
.container-flx .txt {
  max-width: 750px;
  width: 60%;
  min-width: 350px;
}

.img {
  width: 350px;
  height: 300px;
  margin: auto;
  border-radius: 0.5rem;
}

.reverse {
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: space-around;
  align-items: center;
}

.galeria {
  display: flex;
}

.galeria__foto-container {
  background: white;
  padding: 1rem;
  margin: 2rem 1rem;
  border-radius: 1rem;
  text-align: center;
  transition: 0.5s;
}
.galeria__foto-container h3 {
  margin-top: 0.5rem;
  font-size: 1.5rem;
}

.galeria__foto-container:hover {
  transform: scale(1.05);
}

/*------------------- NAVBAR ------------------- */
header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header ul {
  list-style: none;
  display: flex;
}
header .logo1 {
  width: 16rem;
  margin-left: 0;
}
header .icon {
  display: none;
}
header .nav-list a {
  font-size: 1rem;
  margin: 1.25rem;
}

/*------------------- FOOTER ------------------- */
footer {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer .logo2 {
  width: 14rem;
  margin: 0.5rem;
}
footer i {
  font-size: 34px;
  color: white;
  transition: color 0.3s ease-in;
  padding: 0.5rem;
}
footer i:hover {
  color: #ffc71f;
}
footer p {
  font-size: 1rem;
  margin: 0 0.5rem;
}

/*------------------- INDEX - HERO ------------------- */
.hero {
  background: url("../imagenes/index_hero-img.webp") no-repeat 50%;
  background-size: cover;
  height: 500px;
  position: relative;
  margin-bottom: 0.5rem;
}
.hero .hero-text > * {
  z-index: 2;
}
.hero .hero-text {
  height: 100%;
  display: grid;
  place-content: center;
}
.hero .hero-text .hero-link {
  margin: auto;
  margin-top: 2em;
}
.hero .hero-text h1 {
  font-size: 4em;
  color: white;
  width: 40rem;
}
.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  z-index: 1;
}

/*------------------- INDEX - VENTAS ------------------- */
.ventas {
  background-color: #c5c5c5;
  display: flex;
  margin-top: 0.5rem;
  padding: 1.5rem 4rem 3rem 4rem;
}
.ventas h3 {
  text-align: center;
  font-size: 2rem;
}
.ventas .puntos-venta, .ventas .adomicilio {
  padding: 1.5rem;
}
.ventas .puntos-venta iframe {
  width: 35rem;
  height: 20rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
}
.ventas .adomicilio-iconos {
  margin-top: 1.5rem;
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(2, 1fr);
  gap: 0 5em;
}
.ventas .adomicilio-iconos div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.ventas .adomicilio-iconos div img {
  width: 5.5rem;
  margin-top: 1rem;
}
.ventas .adomicilio-iconos div p {
  font-size: 1rem;
}

/*------------------- INDEX - REMERAS ------------------- */
.index__final-container {
  background: url("../imagenes/Index-shirt_background2.webp") no-repeat 50%;
  background-size: cover;
  background-position: left;
  height: 900px;
}
.index__final-container .index__final-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 10rem;
  text-align: right;
  padding-top: 10rem;
}
.index__final-container .index__final-content p {
  font-size: 1.5rem;
}
.index__final-container .index__final-content .index__final-content-btn {
  padding-top: 5rem;
}

/*------------------- PÁGINA MERCHANDISING ------------------- */
.img_merch {
  width: 240px;
  height: 260px;
}

.titulo_mobile {
  display: none;
}

/*------------------- GALERÍAS DE FOTOS ------------------- */
.galeria .img-10 {
  background: url("../imagenes/remera1.webp") no-repeat 50%;
  background-size: cover;
}

.galeria .img-11 {
  background: url("../imagenes/remera2.webp") no-repeat 50%;
  background-size: cover;
}

.galeria .img-12 {
  background: url("../imagenes/remera3.webp") no-repeat 50%;
  background-size: cover;
}

.galeria .img-13 {
  background: url("../imagenes/remera4.webp") no-repeat 50%;
  background-size: cover;
}

.galeria .img-14 {
  background: url("../imagenes/buzo1.webp") no-repeat 50%;
  background-size: cover;
}

.galeria .img-15 {
  background: url("../imagenes/buzo2.webp") no-repeat 50%;
  background-size: cover;
}

.galeria .img-16 {
  background: url("../imagenes/buzo3.webp") no-repeat 50%;
  background-size: cover;
}

.galeria .img-17 {
  background: url("../imagenes/buzo4.webp") no-repeat 50%;
  background-size: cover;
}

.galeria .img-18 {
  background: url("../imagenes/copa1.webp") no-repeat 50%;
  background-size: cover;
}

.galeria .img-19 {
  background: url("../imagenes/copa2.webp") no-repeat 50%;
  background-size: cover;
}

.galeria .img-20 {
  background: url("../imagenes/copa3.webp") no-repeat 50%;
  background-size: cover;
}

.galeria .img-21 {
  background: url("../imagenes/copa4.webp") no-repeat 50%;
  background-size: cover;
}

/*------------------- PÁGINA NOSOTROS ------------------- */
/*------------------- GALERÍAS DE FOTOS ------------------- */
.container-flx .img-1 {
  background: url("../imagenes/nosotros_section1-img1.webp") no-repeat 50%;
  background-size: cover;
}

.container-flx .img-2 {
  background: url("../imagenes/nosotros_section1-img2.webp") no-repeat 50%;
  background-size: cover;
}

.container-flx .img-3 {
  background: url("../imagenes/nosotros_section1-img3.webp") no-repeat 50%;
  background-size: cover;
}

.container-flx .img-4 {
  background: url("../imagenes/nosotros_section1-img4.webp") no-repeat 50%;
  background-size: cover;
}

.container-flx .img-5 {
  background: url("../imagenes/nosotros_section1-img5.webp") no-repeat 50%;
  background-size: cover;
}

.container-flx .img-6 {
  background: url("../imagenes/nosotros_section1-img6.webp") no-repeat 50%;
  background-size: cover;
}

/*------------------- SECCIÓN NUESTRA CULTURA ------------------- */
.container-nuestraCultura {
  align-items: flex-start;
}
.container-nuestraCultura .container_spotify p {
  padding: 0;
  width: 22rem;
}
.container-nuestraCultura .container_spotify .spotify {
  display: block;
  margin: 1rem auto;
  height: 20rem;
}
.container-nuestraCultura .container_cultura p {
  padding: 0 3rem 2rem 5rem;
  text-align: left;
  width: 42em;
}
.container-nuestraCultura .container_cultura a {
  margin-left: 5rem;
}

.container_cultura-txt_ultimoP {
  margin-bottom: 1.6rem;
}

/*------------------- PAGINA NUESTRAS CERVEZAS ------------------- */
.nuestrasCervezas_main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*------------------- PAGINA NUESTRAS CERVEZAS - GALERIA DE FOTOS ------------------- */
.galeria .img-1 {
  background: url("../imagenes/Cervezas/cervezas_clasicas-1.webp") no-repeat 50%;
  background-size: cover;
}

.galeria .img-2 {
  background: url("../imagenes/Cervezas/cervezas_clasicas-2.webp") no-repeat 50%;
  background-size: cover;
}

.galeria .img-3 {
  background: url("../imagenes/Cervezas/cervezas_clasicas-3.webp") no-repeat 50%;
  background-size: cover;
}

.galeria .img-4 {
  background: url("../imagenes/Cervezas/cervezas-estacionales1.webp") no-repeat 50%;
  background-size: cover;
}

.galeria .img-5 {
  background: url("../imagenes/Cervezas/cervezas-estacionales2.webp") no-repeat 50%;
  background-size: cover;
}

.galeria .img-6 {
  background: url("../imagenes/Cervezas/cervezas-estacionales3.webp") no-repeat 50%;
  background-size: cover;
}

.galeria .img-7 {
  background: url("../imagenes/Cervezas/cervezas_especiales-1.webp") no-repeat 50%;
  background-size: cover;
}

.galeria .img-8 {
  background: url("../imagenes/Cervezas/cervezas_especiales-2.webp") no-repeat 50%;
  background-size: cover;
}

.galeria .img-9 {
  background: url("../imagenes/Cervezas/cervezas_especiales-3.webp") no-repeat 50%;
  background-size: cover;
}

/*------------------- PAGINA CONTACTO ------------------- */
.container-form {
  max-width: 1200px;
}
.container-form .background-img {
  background: url("../imagenes/contacto_foto2.webp") no-repeat 50%;
  background-size: contain;
  width: 50%;
  height: 560px;
}
.container-form form {
  margin: 2em auto;
  width: 25rem;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  padding: 1em;
}
.container-form form label {
  margin: 1em 0 0.5em;
  padding-left: 0.8em;
  font-family: "Poppins", sans-serif;
}
.container-form form input {
  font-size: 0.9rem;
  padding: 0.5em 1em;
  border: 1px solid #424242;
  border-radius: 0.8em;
  font-family: "Open Sans", sans-serif;
}
.container-form form select {
  font-size: 0.9rem;
  padding: 0.5em 1em;
  border: 1px solid #424242;
  border-radius: 0.8em;
  font-family: "Open Sans", sans-serif;
}
.container-form form textarea {
  resize: none;
  font-size: 0.9rem;
  padding: 0.5em 1em;
  border: 1px solid #424242;
  border-radius: 0.8em;
  height: 100px;
  font-family: "Open Sans", sans-serif;
}
.container-form form input[type=submit] {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

/*------------------- MOBILE ------------------- */
@media screen and (max-width: 768px) {
  /*------------------- TEXTO GENERAL ------------------- */
  .titulo {
    line-height: 3rem;
    padding: 0 1rem;
  }

  .subtitulo {
    margin: 1.5rem auto;
    padding: 0 2rem;
  }

  /*------------------- CONTAINERS Y GALERIAS ------------------- */
  .container-flx {
    display: flex;
    flex-flow: column-reverse;
    margin: 0;
  }

  .container-flx .txt p {
    padding: 0.5rem 1.5rem;
  }

  .img {
    width: 300px;
    height: 250px;
  }

  .galeria {
    flex-direction: column;
  }

  .galeria__foto-container {
    margin: 1rem;
  }

  /*------------------- NAVBAR ------------------- */
  header nav {
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #c5c5c5;
    transition: left 0.5s;
    z-index: 3;
  }
  header nav ul {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header nav ul li {
    margin: 2rem 0;
  }
  header nav .nav-list li a {
    font-size: 1.9rem;
  }
  header #menu:target {
    left: 0;
  }
  header .icon {
    display: block;
    width: 3rem;
    position: absolute;
    left: 1rem;
    top: 1rem;
  }
  header .close {
    left: 0;
    top: 0;
  }
  header .logo1 {
    width: 12.5rem;
    margin: 0.5rem 1rem 1rem 0;
    margin-left: 10rem;
  }

  /*------------------- FOOTER ------------------- */
  footer .logo2 {
    width: 10rem;
    margin-top: 0.5rem;
  }
  footer p {
    display: none;
  }
  footer i {
    font-size: 30px;
    padding: 0 0 0.3rem 2rem;
  }

  /*------------------- INDEX - HERO ------------------- */
  .hero {
    margin-bottom: 3.5rem;
  }
  .hero .hero-text .hero-link {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .hero .hero-text .hero-link a {
    margin: 0 auto;
    margin-top: 1rem;
  }
  .hero .hero-text h1 {
    font-size: 4rem;
    width: 25rem;
    line-height: 5rem;
  }

  /*------------------- INDEX - VENTAS ------------------- */
  .ventas {
    margin-top: 3.5rem;
    padding: 1.5rem 1rem 3rem 1rem;
  }
  .ventas .puntos-venta {
    display: none;
  }
  .ventas .adomicilio {
    padding: 0;
  }
  .ventas .adomicilio .adomicilio-iconos {
    margin-top: 0.5rem;
    gap: 1rem 1rem;
  }
  .ventas .adomicilio .adomicilio-iconos div img {
    width: 4.5rem;
  }
  .ventas .adomicilio div p {
    font-size: 0.9rem;
  }

  /*------------------- INDEX - REMERAS ------------------- */
  .index__final-container {
    background-size: cover;
    background-position: 17% 50%;
  }
  .index__final-container .index__final-content {
    margin-right: 1rem;
    padding-top: 19rem;
  }
  .index__final-container .index__final-content .titulo {
    text-align: right;
    max-width: 20rem;
    color: white;
  }
  .index__final-container .index__final-content p {
    display: none;
  }
  .index__final-container .index__final-content .index__final-content-btn {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    text-align: center;
  }

  /*------------------- PAGINA CONTACTO ------------------- */
  .container-form .background-img {
    display: none;
  }
  .container-form form {
    margin: 0.5rem auto;
    width: 20rem;
    max-width: 1000px;
    font-size: 1rem;
    padding: 0;
  }

  /*------------------- PAGINA NOSOTROS ------------------- */
  .container-nuestraCultura .container_spotify {
    display: none;
  }
  .container-nuestraCultura .container_cultura p {
    padding: 0.5rem 1.5rem;
    text-align: center;
    width: auto;
  }
  .container-nuestraCultura .container_cultura .container_cultura_btn {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .container-nuestraCultura .container_cultura .container_cultura_btn a {
    margin-left: 0;
    margin: 1.5rem auto;
  }

  .nuestra-historia .container-flx {
    margin-bottom: 1.5rem;
  }
}