/*------------------- PÁGINA MERCHANDISING ------------------- */

.img_merch{
width: 240px;
height: 260px;
}

.titulo_mobile{
display: none;
}

/*------------------- GALERÍAS DE FOTOS ------------------- */

.galeria .img-10 {
background: url("../imagenes/remera1.webp") no-repeat 50%;
background-size: cover;}

.galeria .img-11 {
background: url("../imagenes/remera2.webp") no-repeat 50%;
background-size: cover;}

.galeria .img-12 {
background: url("../imagenes/remera3.webp") no-repeat 50%;
background-size: cover;}

.galeria .img-13 {
background: url("../imagenes/remera4.webp") no-repeat 50%;
background-size: cover;}

.galeria .img-14 {
background: url("../imagenes/buzo1.webp") no-repeat 50%;
background-size: cover;}

.galeria .img-15 {
background: url("../imagenes/buzo2.webp") no-repeat 50%;
background-size: cover;}

.galeria .img-16 {
background: url("../imagenes/buzo3.webp") no-repeat 50%;
background-size: cover;}

.galeria .img-17 {
background: url("../imagenes/buzo4.webp") no-repeat 50%;
background-size: cover;}

.galeria .img-18 {
background: url("../imagenes/copa1.webp") no-repeat 50%;
background-size: cover;}

.galeria .img-19{
background: url("../imagenes/copa2.webp") no-repeat 50%;
background-size: cover;}

.galeria .img-20{
background: url("../imagenes/copa3.webp") no-repeat 50%;
background-size: cover;}

.galeria .img-21{
background: url("../imagenes/copa4.webp") no-repeat 50%;
background-size: cover;}
